@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(245, 245, 245);
}

.hide-scrollbar {
  scrollbar-width: none; /* ซ่อน scrollbar สำหรับ Firefox */
  -ms-overflow-style: none; /* ซ่อน scrollbar สำหรับ IE */
  scroll-behavior: smooth; /* เลื่อนแบบนุ่มนวล */
  overflow-anchor: none; /* ป้องกันการกระตุกเมื่อเลื่อน */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* ซ่อน scrollbar สำหรับ Chrome และ Safari */
}